.recharge-input-group-component {
  padding-top: 8px;
  background: #FFFFFF;
  border-radius: 12px;
  .recharge-input {
    padding: 0 16px;
  }
  .recharge-input-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #ECECEC;
      transform: scaleY(.5);
    }
    .recharge-input-areacode {
      font-size: 24px;
      font-weight: 500;
      color: #218CFF;
    }
    .nut-input {
      padding: 0 12px;
    }
    .nut-input-left-box {
      display: none;
    }
    .recharge-input-group-placeholder {
      font-size: 20px;
      color: #CCCCCC;
    }
    // .recharge-input-group-input,
    .input-text {
      // 解决支付宝小程序文本下坠问题（window.enableInPageRenderInput = 'YES'时，如果字号大于20，需要设置高度，否则要去掉）
      // 微信小程序input框font-size字号较大时，需要设置足够的height，否则聚焦的时候文字会飘移，input会有滚动条效果
      height: 32px;
      font-size: 24px;
      color: #222222;
      &::-webkit-input-placeholder {
        font-size: 20px;
        color: #CCCCCC;
      }
    }
  }
  .recharge-input-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    .recharge-input-left {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
    .recharge-input-verify {
      display: flex;
      align-items: center;
      background: #F2F8FE;
      padding: 0 6px;
      max-width: 100%;
      height: 28px;
      border-radius: 4px;
      overflow: hidden;
      .icon-verify {
        width: 16px;
        height: 16px;
      }
      .verify-title {
        flex-shrink: 0;
        margin-left: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #218CFF;
      }
      .verify-result {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #222222;
        overflow: hidden;
        .operator-content {
          display: flex;
          align-items: center;
          .icon-operator {
            margin-right: 4px;
            width: 20px;
            height: 20px;
          }
          .operator-name {
            flex-shrink: 0;
            font-style: normal;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .red {
          color: #F22E2E;
        }
        .green {
          color: #35AA35;
        }
      }
      .change-operator {
        display: flex;
        align-items: center;
        padding: 0 6px;
        margin-left: 8px;
        height: 22px;
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
        background: linear-gradient(90deg, #21B0FF 0%, #218CFF 100%);
        border-radius: 4px;
        .change-text {
          flex-shrink: 0;
        }
        .icon-change {
          display: block;
          margin-left: 3px;
          width: 8px;
          height: 5px;
        }
      }
    }
    .recharge-input-example {
      flex-shrink: 0;
      font-size: 12px;
      color: #999999;
    }
  }
  .recharge-input-footer {
    margin-top: 4px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 26px;
    font-size: 12px;
    color: #72A3C5;
    background: #F7FBFE;
    border-radius: 0 0 12px 12px;
  }
}