.recharge-operator-group-component {
  padding: 16px;
  margin-top: 12px;
  background: #FFFFFF;
  border-radius: 12px;
  .recharge-operator-body {
    min-height: 118px;
    .recharge-operator-loading, .recharge-operator-no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 118px;
      .no-data {
        text-align: center;
        .icon-no-data {
          width: 80px;
          height: 80px;
        }
        .no-data-text {
          margin-top: 2px;
          font-size: 14px;
          color: #999999;
        }
      }
    }
  }
  .recharge-operator-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // overflow-x: auto;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .recharge-operator-item {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      margin-top: 16px;
      min-width: 25%;
      &.most {
        flex: 1;
      }
      .recharge-operator-top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border: 1px solid #E5E5E5;
        border-radius: 6px;
        overflow: hidden;
        .icon-operator {
          width: 60px;
          height: auto;
        }
        .icon-amount-select {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 16px;
          height: 16px;
        }
      }
      .recharge-operator-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2px;
        margin-top: 12px;
        min-width: 66px;
        max-width: 70px;
        height: 20px;
        font-size: 12px;
        color: #222222;
        background: #F2F8FE;
        border-radius: 11px;
        overflow: hidden;
        .recharge-operator-name {
          word-break: keep-all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &.active {
        .recharge-operator-top {
          border-color: rgba(33, 140, 255, 0.8);
        }
        .recharge-operator-bottom {
          color: #FFFFFF;
          background: linear-gradient(45deg, #21B0FF 0%, #218CFF 100%);
        }
      }
    }
  }
}